.PopOver {
    position: relative;
    display: inline-block;

    &__content {
        position: absolute;
        background-color: #fff;
        border: 1px solid #ccc;
        z-index: 1000;
        width: 200px; /* Increase the width as desired */
        padding: 10px; /* Add padding for spacing */

        &-inner {
            display: flex;
            flex-direction: column; /* Set flex direction to column */
            flex: 1;
        }

        /* Emulate arrow using before and after pseudo-elements */
        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-style: none; /* Reset border-style */
        }
    }

    &.left-top .PopOver__content {
        right: calc(100% + 10px);
        top: 0;
        transform: translateY(0);

        &::before {
            border-style: solid;
            border-width: 10px 0 10px 10px;
            border-color: transparent  transparent transparent #ccc;
            right: 0;
            top: 0;
            transform: translateY(0) translateX(10px);
        }
    }

    &.left-center .PopOver__content {
        right: calc(100% + 10px);
        top: 50%;
        transform: translateY(-50%);

        &::before {
            border-style: solid;
            border-width: 10px 0 10px 10px;
            border-color: transparent  transparent transparent #ccc;
            right: 0;
            top: 50%;
            transform: translateY(-50%) translateX(10px);
        }
    }

    &.left-bottom .PopOver__content {
        right: calc(100% + 10px);
        bottom: 0;
        transform: translateY(0);

        &::before {
            border-style: solid;
            border-width: 10px 0 10px 10px;
            border-color: transparent  transparent transparent #ccc;
            right: 0;
            bottom: 0;
            transform: translateY(0) translateX(10px);
        }
    }

    &.top-left .PopOver__content {
        left: 0;
        bottom: calc(100% + 10px);
        transform: translateX(0);

        &::before {
            border-style: solid;
            border-width: 10px 10px 0 10px;
            border-color: #ccc transparent transparent transparent;
            bottom: -10px;
            left: 0;
            transform: translateX(0);
        }
    }

    &.top-center .PopOver__content {
        left: 50%;
        bottom: calc(100% + 10px);
        transform: translateX(-50%);

        &::before {
            border-style: solid;
            border-width: 10px 10px 0 10px;
            border-color: #ccc transparent transparent transparent;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &.top-right .PopOver__content {
        right: 0;
        bottom: calc(100% + 10px);
        transform: translateX(0);

        &::before {
            border-style: solid;
            border-width: 10px 10px 0 10px;
            border-color: #ccc transparent transparent transparent;
            bottom: -10px;
            right: 0;
            transform: translateX(0);
        }
    }

    &.right-top .PopOver__content {
        left: calc(100% + 10px);
        top: 0;
        transform: translateY(0);

        &::before {
            border-style: solid;
            border-width: 10px 10px 10px 0;
            border-color: transparent #ccc transparent transparent;
            left: 0;
            top: 0;
            transform: translateY(0) translateX(-10px);
        }
    }

    &.right-center .PopOver__content {
        left: calc(100% + 10px);
        top: 50%;
        transform: translateY(-50%);

        &::before {
            border-style: solid;
            border-width: 10px 10px 10px 0;
            border-color: transparent #ccc transparent transparent;
            left: 0;
            top: 50%;
            transform: translateY(-50%) translateX(-10px);
        }
    }

    &.right-bottom .PopOver__content {
        left: calc(100% + 10px);
        bottom: 0;
        transform: translateY(0);

        &::before {
            border-style: solid;
            border-width: 10px 10px 10px 0;
            border-color: transparent #ccc transparent transparent;
            left: 0;
            bottom: 0;
            transform: translateY(0) translateX(-10px);
        }
    }

    &.bottom-left .PopOver__content {
        left: 0;
        top: calc(100% + 10px);
        transform: translateX(0);

        &::before {
            border-style: solid;
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent #ccc transparent;
            top: -10px;
            left: 0;
            transform: translateX(0);
        }
    }

    &.bottom-center .PopOver__content {
        left: 50%;
        top: calc(100% + 10px);
        transform: translateX(-50%);

        &::before {
            border-style: solid;
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent #ccc transparent;
            top: -10px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &.bottom-right .PopOver__content {
        right: 0;
        top: calc(100% + 10px);
        transform: translateX(0);

        &::before {
            border-style: solid;
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent #ccc transparent;
            top: -10px;
            right: 0;
            transform: translateX(0);
        }
    }
}
