@use '../../global-styles/' as *;

.TextArea
{
    border-radius: $border-radius-default;
    margin: 0.5rem 0 1rem;
    border: $area-edge-border;
    overflow: hidden;

    &__label
    {
        font-weight: bold;
    }

    &.success {
        border-color: rgba($success-color, 0.5);

        .FormTextarea__wrapper__metaInput {
            color: $success-color;
            background: rgba($success-color, 0.25);
        }

        .FormTextarea__wrapper__metaLabel {
            border-left: 1px solid rgba($success-color, 0.5);
        }
    }

    &.error {
        border-color: rgba($error-color, 0.5);

        .FormTextarea__wrapper__metaInput {
            color: $error-color;
            background: rgba($error-color, 0.25);
        }

        .FormTextarea__wrapper__metaLabel {
            border-left: 1px solid rgba($error-color, 0.5);
        }
    }

    &__wrapper
    {
        display: flex;
        align-items: stretch;
        justify-content: stretch;

        &__metaInput {
            flex-grow: 1;
            border: none;
            padding: 1rem 1rem;
            color: $font-color-default;
            font-size: $font-size-small;
            font-family: 'Roboto', sans-serif;
    
            &:focus {
                background: rgba($default-color-light, 0.15);
                border: none;
                outline: none;
            }
    
            &.resizable
            {
                resize: vertical !important;
            }
    
            &.unresizable
            {
                resize: none !important;
            }
        }

        &__metaLabel {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 1rem;
            font-size: $font-size-small;
            border-left: 1px solid rgba($default-color-light, 0.1);
            background: rgba($default-color-light, 0.25);

            &.right
            {
                justify-content: flex-end;
            }
        }
    }
}
