@use '../../global-styles/' as *;

.Page
{
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;

    &__wrapper
    {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        @media only screen and (min-width: $breakpoint-large){
            flex-direction: row;
        }

        &__main
        {
            background: $default-color-light;
            flex-grow: 1;
            flex-basis: 100px;
            display: flex;
            flex-direction: column;
        }

        .PageHeader__wrapper__menu
        {   
            .TextInput__wrapper
            {

                .TextInput
                {
                    margin: inherit;
                }
            }
        }

        &__aside
        {
            border-left: $area-edge-border;
            display: flex;
            flex-direction: column;
            width: 100%;

            @media only screen and (min-width: $breakpoint-large){
                width: 16rem;
            }

            &__header
            {
                padding: 1rem;
                border-bottom: $area-edge-border;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
            &__content
            {
                padding: 1rem;
            }
        }
    }
}
