@use '../../global-styles/' as *;

.SideNav
{
    user-select: none;
    box-shadow: $box-shadow-bottom;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    height: 100vh;
    flex-grow: 0;
    position: relative;

    &__left
    {
        z-index: 100;
        background: $primary-color;
        width: 3rem;
        display: flex;
        flex-direction: column;
        align-items: space-between;
        justify-content: space-between;

        &__top
        {
            display: flex;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            padding: 0.5rem;
        }

        &__bottom
        {
            padding: 0.5rem;
        }
    }

    &__right
    {
        background: $primary-background-light;
        position: relative;
        width: 13rem;
        display: flex;
        flex-direction: column;
        
        transition: margin-left 0.35s ease-in-out;

        &.expanded
        {
            margin-left: 0;
        }
        
        &.compressed
        {
            margin-left: -13rem;
        }

        &__logo
        {
            position: relative;
            padding: 0.75rem 0.5rem 0.3rem;
            display: flex;
            justify-content: center;

            &__image
            {
                height: 1.5rem;
            }
        }

        &__role
        {
            height: 4rem;
            padding: 1rem;
            display: flex;
            justify-content: center;

            p
            {
                font-weight: bold;
                color: $primary-color;
            }
        }

        &__menu
        {
            width: 100%;
            flex-grow: 1;
            padding: 0 1rem 0.5rem;
            overflow-y: scroll;

            ul
            {
                display: flex;
                flex-direction: column;
                width: 100%;
                list-style-type: none;
                gap: 0.5rem;

                li
                {
                    display: flex;
                }
            }
        }
    }
}
