@use '../../global-styles/' as *;

.SideNav
{
    user-select: none;
    box-shadow: $box-shadow-bottom;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100vw;
    z-index: 1000;
    position: relative;
    
    // desktop
    @media only screen and (min-width: $breakpoint-large)
    {
        flex-direction: row;
        width: inherit;
        flex-basis: 4rem;
    }
}
