@use '../../../../global-styles/' as *;

.TableHeader {
    background-color: white;
    color: rgba(#203257, 0.3);
    font-size: 0.85rem;
    border-top: $area-edge-border;
    text-align: left;

    &__row {
        th {
            // padding: 12px;
            padding: 0.5rem 1rem;
        }
    }

    &__checkbox {
        width: 50px;
        input {
            cursor: pointer;
            margin-top: 3px;
        }
    }

    &__cell {
        cursor: pointer;
        .TableHeader__sort-indicator {
            font-size: 10px;
            margin-left: 4px;
        }
    }

    &__sort-indicator {
        font-size: 10px;
        margin-left: 4px;
    }
}
