@use '../../global-styles/' as *;

.Page {
    background: $default-color-light;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: $breakpoint-large){
        flex-direction: row;
    }

    &__nav
    {
       flex-grow: 1;
    }

    &__content
    {
       display: flex;
       flex-direction: column;
       position: relative;

        &__header
        {
            // 
        }

        &__main
        {
            overflow-y: scroll;
            flex-basis: calc(100vh - 10rem);
            flex-grow: 1;
        }
    }
}
