@use '../../global-styles/' as *;

.GuideCard {
    &__wrapper {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        aspect-ratio: 1/1;

        &__image {
            width: 100%;
            aspect-ratio: 16/9;
            object-fit: cover;
            object-position: center;
            background-color: lightgray;
        }

        &__meta {
            width: 100%;
            color: rgb(22, 22, 22);
            padding: 1em;
            
            font-family: $font-family;
            &__info {
                font-size: 0.75em;
            }

            &__title {
                font-size: 1em;
            }
        }
    }

}
