@use '../../global-styles/' as *;

.ContentWrapper {
    position: relative;
    overflow-y: scroll;
    display: flex;

    &__wrapper
    {
        height: 100px;

        &.padded
        {
            padding: 1em;
        }

        &.fluid
        {
            width: 100%;
        }

        &.centered
        {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    width: 100%;
    height: 100%;
}
