@use '../../global-styles/' as *;

.ContentWrapper {
    flex-basis: calc(100vh - (3rem + 6rem));
    overflow-y: scroll;
    display: flex;
    justify-content: center;

    @media only screen and (min-width: $breakpoint-large) {
        flex-basis: calc(100vh - 6rem);
    }

    &__wrapper
    {
        padding: 2em;

        @media only screen and (min-width: $breakpoint-large) {
            width: $page-width-default;
        }

        &.fluid
        {
            width: 100%;
        }
    }
}
