@use '../../global-styles/' as *;

.StepManager
{
    border-right: $area-edge-border;
    flex-basis: 16rem;
    height: 100%;
    background: white;

    &__menu
    {
        height: 3rem;
        display: flex;
        padding: 0 1rem;
        justify-content: center;
        align-items: center;
        border-bottom: $area-edge-border;

        &__popOver
        {
            width: 100%;
        }
    }
}
